#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: $header-height;
  .panel-body{
    background-color: #f0f0f4;
    .main-container{
      width: 100%;
      max-width: 1280px;
      margin: auto;
      .entry-list{
        display: inline-block;
        float: left;
        background-color: $entry-list-bg;
        padding: auto 20px;
        width: 60%;
        .page-responsive{
          padding: 15px 0;
        }
      }
      .tip-box-card{
        .el-card__body{
          padding: 18px 20px !important;
          .no-result-tip{
            text-align: left;
            color: $text-grey;
            .no-result-tip-a{
              color: $element-blue;
              &:hover{
                text-decoration: none;
                color: $dark-blue;
              }
            }
          }
        }
      }
    }
  }
}

.nav-menu-item{
  display: inline-block;
  float: right;
  min-width: 72px;
  height: 100%;
  color: #ffffff;
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 10px;
}

.aside-list{
  .aside-widget-title{
    font-weight: 700;
    margin: 10px 0;
    padding-top: 10px;
  }
}

.nav-menu-item:before{
  content:'';
  display:inline-block;
  vertical-align:middle;
  height:100%;
  width:0;
}
